body
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvYMKjyc-jUWxQuVe5GwIIBdIJ70gdQW6M0Q&s");
    background-repeat: no-repeat;
    background-size: cover;
}
table
{
    margin-left: auto;
    margin-right: auto;
}
