<h1 style="color:slateblue;"><u>About the company</u></h1>
<body>
    <div class="table">
        <h2 style="text-align: center;color: teal;"><u>Company Info</u></h2>
        <table border="3" style="tab-size: 50px;">
            <tr>
                <td>Company Started</td>
                <td>2024</td>
            </tr>
            <tr>
                <td>Company name</td>
                <td>Nisar's Softwares</td>
            </tr>
            <tr>
                <td>Company CEO</td>
                <td>Nisar & Family</td>
            </tr>
            <tr>
                <td>Core</td>
                <td>Software</td>
            </tr>
            <tr>
                <td>Branches</td>
                <td><ol type="1">
                    <li>Kallakurichi</li>
                    <li>Salem</li>
                    <li>Erode</li>
                    <li>Chennai</li>
                    <li>Thiruvannamalai</li>
                </ol>
                </td>
            </tr>
        </table>
    </div>
    <h2 style="color: sienna;"><u>Career Objective:</u></h2>
    <p><i>   The primary objectives of a software company are to develop high-quality, innovative software, ensure customer satisfaction, achieve market growth, maintain financial health, support employee development, uphold ethical standards, and ensure security and compliance.</i></p>
    <h2 style="color: royalblue;"><u>Mission & Visions</u></h2>
    <ol type="I">
        <li><p><b>Innovative Product Launches:</b>Developed and released successful, cutting-edge software solutions.</p></li>
        <li><p><b>Global Expansion:</b>Established a strong presence in multiple international markets</p></li>
        <li><p><b>Revenue Growth:</b> Consistently increased annual revenue and profitability.</p></li>
        <li><p><b>Industry Recognition:</b>Received prestigious awards and certifications.</p></li>
    </ol>
</body>