.gst
{
    color:brown;
    font-family: cursive;
    font-style: italic;
    font-size: 25px;
}
.pur
{
    color:tomato;
    font-family:monospace;
    font-style: oblique;
}
#Quan1
{
    font-family:cursive;
    color:sienna;
    font-style: italic;
    font-size: 25px;
}
#form
{
    color:coral;
    
}