<body>
    <h1 style="color: teal;"><u><b><marquee>DASHBOARD</marquee></b></u></h1>
    <h2 style="color: brown;"><u>Projects:</u></h2>
    <ol type="1">
        <li>Calculating Cgpa ⭐⭐⭐⭐</li>
        <li>BMI Calculator⭐⭐⭐</li>
        <li>Bicycle Tracker⭐⭐⭐⭐⭐</li>
        <li>Bus Tarck Management⭐⭐⭐⭐</li>
    </ol>
    <h2 style="color: blueviolet;"><u>Achivements</u></h2>
    <ol type="I">
        <li>Participating in company level competions.</li>
        <li>Top 100 Best Companies to Work For with a 90% employee retention rate and extensive professional development programs.</li>
        <li>Developed a highly effective customer support infrastructure with a 98% issue resolution rate and comprehensive client training programs.</li>
        <li>Reflecting strong client loyalty and approval.</li>
    </ol>
    <h2 style="color: tomato;"><u>Prizes</u></h2>
    <ol type="a">
        <li>Achiving master Prize in competitons.</li>
        <li>Hold Good rank in overall India.</li>
        <li>G2 Best Software Awards.</li>
        <li>The Software Report Awards.</li>
    </ol>
</body>