<div class="product-list">
    <div class="product-card">
      <img src="./assets/t1.jpeg" alt="Product 1" class="product-image" />
      <h2>Silver Dynamo</h2>
      <p>PRICE FOR BIRTYHDAY</p>
      <p>$25800</p>
      <button (click)="addToCart({id: 1, name: 'Silver Dynamo', price: 25800, description: 'Description for Product 1', imageUrl: 'assets/images/headset.webp'})">Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="./assets/t2.jpeg" alt="Product 2" class="product-image" />
      <h2>Golden King</h2>
      <p>KINGS CHOICE</p>
      <p>$50555</p>
      <button (click)="addToCart({id: 2, name: 'Golden King', price: 50555, description: 'Description for Product 2', imageUrl: 'https://m.media-amazon.com/images/I/61ERDR3tATL._AC_UF1000,1000_QL80_.jpg'})">Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="./assets/t3.jpeg" alt="Product 3" class="product-image" />
      <h2>Silver moon</h2>
      <p>PRESCENT FOR MOON</p>
      <p>$23500</p>
      <button (click)="addToCart({id: 3, name: 'Silver moon', price: 23500, description: 'Description for Product 3', imageUrl: 'https://digital-devices.weebly.com/uploads/2/7/1/1/27118291/8780046_orig.jpg'})">Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="./assets/t4.jpeg" alt="Product 4" class="product-image" />
      <h2>New Royal</h2>
      <p>ROYALS CHOICE</p>
      <p>$50499</p>
      <button (click)="addToCart({id: 4, name: 'New Royal', price: 50499, description: 'Description for Product 4', imageUrl: 'https://s.alicdn.com/@sc04/kf/Hd521db5e65a74fbd90100ff61e1c5f840.jpg_720x720q50.jpg'})">Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="./assets/t5.jpeg" alt="Product 5" class="product-image" />
      <h2>Mrs.Prince</h2>
      <p>TIME FOR PRINCE</p>
      <p>$27500</p>
      <button (click)="addToCart({id: 5, name: 'Product 5', price: 27500, description: 'Description for Product 5', imageUrl: 'https://via.placeholder.com/150'})">Add to Cart</button>
    </div>
  </div>
  
  
  
  
   